header{
  background: #1DA1f2;
  color: white;
  font-size: 12px;
  padding: 10px;
}

.connection{
  display : flex;
  justify-content: space-around;
  align-items:  center;
  height: 80vh;
}

.connection form{
  display: flex;
  flex-direction: column;
  background: white;
  width: 500px;
  color: white;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 5px grey;
  box-sizing: border-box;
}

.connection form label {
  background: #1DA1f2;
  padding: 15px;
  margin-bottom: 10px;
}

.connection form input {
  padding: 10px;
  margin: 13px 20px;
  background: rgb(240, 240, 240);
}

.connection form input[type=submit]{
  cursor: pointer;
  background: #1DA1f2;
  border: 2px solid #1DA1f2;
  color: white;
  margin-bottom: 25px;
  font-weight: bold;
}

.connection form input[type=submit]:hover{
  color: #1DA1f2;
  background: white;
}

.notification{
  margin: 0 20px 10px;
  box-sizing: border-box;
  padding: 10px;
  font-weight: bold;
}

.profil{
  display: flex;
  padding: 50px;
  justify-content: space-around;
}

.profil form {
  display: flex;
  flex-direction: column;
  width: 400px;
  box-shadow: 0 0 5px grey;
}

.profil form input{
  background: rgb(230,230,230);
  padding : 12px;
  margin: 12px;
}

.profil form input[type="submit"]{
  background: #1DA1f2;
  color: white;
  font-weight: bold;
  padding : 12px;
  margin: 12px;
}

.profil .profil-card {
  width: 400px;
  background: white;
  box-shadow: 0 0 5px grey;
  padding: 15px;
}

.profil .profil-card p{
  margin: 15px 0;
}

.tweet-card{
  width : 50%;
  box-shadow: 0 0 5px grey;
  border-radius: 15px;
  background: white;
  margin: 30px auto;
  overflow: hidden;
}
