header{
  background: #1DA1f2;
  color: white;
  font-size: 12px;
  padding: 10px;
}

.connection{
  display : flex;
  justify-content: space-around;
  align-items:  center;
  height: 80vh;
}

.connection form{
  display: flex;
  flex-direction: column;
  padding : 20px;
  background: #1DA1f2;
  width: 500px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.connection form input {
  margin: 13px 0;
  padding: 8px;
}

.connection form input[type=submit]{
  cursor: pointer;
}

.connection form input[type=submit]:hover{
  background: rgb(220,220,220);
}
